{
  "semi": false,
  "printWidth": 100,
  "trailingComma": "all",
  "arrowParens": "avoid",
  "singleQuote": true,
  "overrides": [
    {
      "files": "*.html",
      "options": {
        "parser": "angular"
      }
    }
  ]
}
